MORALIS_KEY = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJub25jZSI6Ijk0NDMwMGQyLTEyMzctNDcyOS05YTA5LTM3ZDY1N2Y5NjUzYyIsIm9yZ0lkIjoiMzY3MzAwIiwidXNlcklkIjoiMzc3NDkwIiwidHlwZUlkIjoiZjRhZmE5ZmQtNjc4MC00ZjNkLThmZWItZGFlNWZmODkzMmRmIiwidHlwZSI6IlBST0pFQ1QiLCJpYXQiOjE3MDE5NjU3OTYsImV4cCI6NDg1NzcyNTc5Nn0.KaXOyZSK6z9pFpXqMQovEK4Q4mrkh-L1DDS7ZYM52IQ"